<a href="https://colab.research.google.com/github/dkkkk4/Python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuple Odd/Even**

In [3]:
def odd_even_split_tuple(tup):
    ''' input:tup-indicates the tuple
         output:print two tuples one for even indexed and odd indexed in the given output format'''

    # YOUR CODE GOES HERE
    list1 = list(tup)
    odd = tuple(list1[::2])
    even = tuple(list1[1::2])
    return odd, even

tup = tuple((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))
odd_even_split_tuple(tup)

((10, 5, 10, 10, 5, 8), (8, 2, 15, 8, 8, 2))

**Little check**

In [10]:
s = set(['Python', 'Language', 'is', 'Awesome'])
r ={'Python', 'Language', 'is', 'Awesome'}
s, r

({'Awesome', 'Language', 'Python', 'is'},
 {'Awesome', 'Language', 'Python', 'is'})

**Quiz**

In [17]:
sets = {3, 4, 5}
____________   # fill in the blank
print(sets)

#Expected Output: {1, 2, 3, 4, 5}

#A = sets.update([1, 2, 3])  ✔
#B = sets = sets.union({1, 2, 3}) ✔
#C = sets.add([1, 2 ,3])  ❌
#D = sets += [1, 2 ,3]  ❌
#E = sets += {1, 2, 3}  ❌

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

**Set doesn't follow indexing**

In [18]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'
print(a)

TypeError: 'set' object does not support item assignment

Tuple

In [19]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)