<a href="https://colab.research.google.com/github/dkkkk4/Python/blob/main/Functional/2ndLowest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student

    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    student_data = None
    student_data = list(map(lambda x,y : [x, y], students, scores))
    student_data

    second_low_score = float(sorted(set(scores))[1])

    required_data = list(filter(lambda x: x[1] == second_low_score,student_data))

    second_names=[x[0] for x in student_data if x[1] == second_low_score]

    return student_data, second_low_score, second_names   #returns a tuple

students = ['S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH']
scores = [1, 3, 2, 1, 1]
second_lowest(students, scores)

([['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH', 1]],
 2.0,
 ['N KAR'])