<a href="https://colab.research.google.com/github/dkkkk4/Python/blob/main/Functional/Lambda_sorted(2nd_Lowest).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student

    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''

    student_data = []
    second_low_score = None
    second_names = []
    # Your code starts here

    for i in range(len(students)):
        temp = []
        temp.append(students[i])
        temp.append(scores[i])
        student_data.append(temp)

    second_low_score = float(sorted(set(scores))[1])

    # Your code ends here
    return student_data, second_low_score, second_names

students = ['S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH']
scores = [1, 3, 2, 1, 1]
second_lowest(students, scores)

([['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH', 1]],
 2.0,
 [])

In [ ]:
heights = [110, 125, 142, 168, 186]
list(map(lambda x: "S"if x<150 else "M" if x>=150 and x<180 else "L" ,heights))

['S', 'S', 'S', 'M', 'L']