<a href="https://colab.research.google.com/github/dkkkk4/Python/blob/main/Functional/Zip_Filter_Map_Reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **map()**

In [7]:
students = ['S ROY', 'B BOSE', 'N KAR', 'C DUTTA','G-GHOSH']
scores = [1, 3, 2, 1,1]
student_data = list(map(lambda x,y : [x, y], students,scores))
student_data

[['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G-GHOSH', 1]]

# **zip()**

In [ ]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names,row)) for row in db_rows]

for i in db:
  print(i)

{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}
{'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}
{'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}

In [ ]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

# **filter()**

In [ ]:
def isPalindrome(my_list):

  palindromes = list(filter(lambda word: word==word[::-1],my_list))  #filter(function, iterable)

  return palindromes

lst = ['aab', 'efe', 'tfg', 'madam', 'rotar']
isPalindrome(lst)

['efe', 'madam']

# **Filter/reduce/map**

In [ ]:
from functools import reduce
def func(integers, names, numbers):
    '''
    input:
    integers -> list of integers to perform the square operation on
    names -> list of names to filter out as per the condition
    numbers -> list of numbers whose product we want

    output:
    map_result -> output of integers list
    (Use map() to return the list of the squares of each number.)

    filter_result -> output of the names lsit
    (Use filter() to return the list with only those names that have less than or equal to seven letters.)

    reduce_result -> output of the numbers list
    Use reduce() to return the product of elements of list numbers.
    '''
    map_result, filter_result, reduce_result = None, None, None

    # Your code stars here
    map_result = list(map(lambda x:x**2, integers))

    filter_result = list(filter(lambda word: len(word)<=7, names))

    reduce_result = reduce(lambda x,y:x*y,numbers)

    # Your code ends here

    return map_result, filter_result, reduce_result

integers = [4, 6, 3, 9, 2, 8, 12]
names = ['Python', 'Data Science', 'rishabh', 'student', 'force']
numbers = [4, 6, 9, 23, 5]
func(integers, names, numbers)

([16, 36, 9, 81, 4, 64, 144], ['Python', 'rishabh', 'student', 'force'], 24840)