<a href="https://colab.research.google.com/github/dkkkk4/Python/blob/main/OOPs/OOPs2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Account:
  counter = 0                       #class / shared / global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal           #instance variable

In [3]:
a1 = Account()
a2 = Account(100)

In [4]:
print(a1.id, a1.bal)
print(a2.id, a2.bal)

1 0
2 100

In [6]:
 print(a1)

<__main__.Account object at 0x7a97735a0f70>

### **Format string function**

usual way to write string

In [6]:
name = 'saurabh'
age = 18
print('my name is '+name+' and i am '+str(age)+' year old')

my name is saurabh and i am 18 year old

In [4]:
name = 'saurabh'
age = 18
print(f'my name is {name} and i am {age} year old')   #f-strings in python

my name is saurabh and i am 18 year old

In [7]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'

a1= Account()
a2 = Account(100)

In [10]:
print(a1)
print(a2)

Account 1 has rs 0
Account 2 has rs 100

In [11]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
  def deposit(self,amount):
    self.bal += amount
  def withdraw(self,amount):
    self.bal -= amount
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'

In [12]:
a1 = Account(100)
print(a1)
a1.deposit(500)
print(a1)

Account 1 has rs 100
Account 1 has rs 600

In [1]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
    self.passbook = [] #mutable
  def deposit(self,amount):
    self.bal += amount
    self.passbook.append(('credited',amount))
  def withdraw(self,amount):
    self.bal -= amount
    self.passbook.append(('dedited',amount))
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'

In [2]:
a1 = Account(100)
print(a1)

a1.deposit(200) #transactions
a1.deposit(500)

print(a1)

print(a1.passbook)

Account 1 has rs 100
Account 1 has rs 800
[('credited', 200), ('credited', 500)]

In [3]:
a1.withdraw(300)
a1.withdraw(500)

print(a1)
print(a1.passbook)

a1.bal

Account 1 has rs 0
[('credited', 200), ('credited', 500), ('dedited', 300), ('dedited', 500)]

0

## **Private members in class**

In [5]:
a1.bal = 998978978969679657959757575
print(a1) #loophole

Account 1 has rs 998978978969679657959757575

In [ ]:
 #constraints => bal => private

In [7]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.__bal = openingBal #private
    self.passbook = [] #mutable
  def deposit(self,amount):
    self.__bal += amount
    self.passbook.append(('credited',amount))
  def withdraw(self,amount):
    self.__bal -= amount
    self.passbook.append(('dedited',amount))
  def __str__(self):
      return f'Account {self.id} has rs {self.__bal}'

In [8]:
a1 = Account()

In [9]:
a1.bal

AttributeError: 'Account' object has no attribute 'bal'

In [12]:
a1.__bal = 90789846789467824787
print(a1)

Account 1 has rs 0

In [17]:
print(a1.id)
a1.id = 999
print(a1)

999
Account 999 has rs 0

In [18]:
a2 = Account()
a2.id

3

In [19]:
#quiz
# What will be the output of the following Python code?
class Test:
     def __init__(self):
         self.p = 1
         self.__q = 1
     def get(self):
         return self.__q
t = Test()
t.p = 45
print(t.p)

45

In [20]:
# quiz
# What will be the output of the following Python code?
class Test:
     def __init__(self):
         self.p = 1
         self.__q = 1
     def get(self):
         return self.__q
t = Test()

In [21]:
t.p

1

In [22]:
t.__q

AttributeError: 'Test' object has no attribute '__q'

In [25]:
a1 = Account()
a1.__bal # __bal => _Account__bal #data/name mangline

AttributeError: 'Account' object has no attribute '__bal'

### **Hack to access private data members**

In [26]:
a1._Account__bal = 98798798342678932689     #private members can be accessed by obj._ClassName__var

In [27]:
print(a1)

Account 5 has rs 98798798342678932689

In [31]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
    self.passbook = [] #mutable
  def deposit(self,amount):
    if amount>0:
      self.bal += amount
      self.passbook.append(('credited',amount))
  def withdraw(self,amount):
    if amount>0 and amount<self.bal:
      self.bal -= amount
      self.passbook.append(('dedited',amount))
    else:
      print("insufficient Balance")
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'

In [32]:
a1 = Account()
print(a1)
a1.withdraw(500)

Account 1 has rs 0
insufficient Balance

## **inheritance**

In [33]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
    self.passbook = [] #mutable
  def deposit(self,amount):
    if amount>0:
      self.bal += amount
      self.passbook.append(('credited',amount))
    #homework in else part
  def withdraw(self,amount):
    if amount>0 and amount<self.bal:
      self.bal -= amount
      self.passbook.append(('dedited',amount))
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'
class SavingsAccount(Account):
   #child class of ACCount
   pass
class CurrentAccount(Account):
  pass

In [34]:
sa1 = SavingsAccount(100)
print(sa1)
sa1.deposit(1000)
print(sa1)

Account 1 has rs 100
Account 1 has rs 1100

In [35]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
    self.passbook = [] #mutable
    self.numTrans = 0
    self.maxTrans = 2
  def deposit(self,amount):
    if amount>0 and self.numTrans<self.maxTrans:
      self.bal += amount
      self.passbook.append(('credited',amount))
      self.numTrans += 1
    #homework in else part
  def withdraw(self,amount):
    if amount>0 and amount<self.bal and self.numTrans<self.maxTrans:
      self.bal -= amount
      self.passbook.append(('dedited',amount))
      self.numTrans += 1
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'
class SavingsAccount(Account):
   #child class of ACCount
    pass
class CurrentAccount(Account):
    pass

In [36]:
sa1 = SavingsAccount()
sa1.passbook

[]

In [37]:
sa1.deposit(100)
sa1.deposit(500)
sa1.passbook

[('credited', 100), ('credited', 500)]

In [39]:
sa1.withdraw(300)  #exceeded max transaction limit, hence rejected
sa1.passbook

[('credited', 100), ('credited', 500)]

In [41]:
print(sa1)

Account 1 has rs 600

In [42]:
ca1 = CurrentAccount(100)
print(ca1)
ca1.deposit(1000)
ca1.deposit(1000)
ca1.deposit(1000) #rejected
ca1.deposit(1000) #rejected
ca1.deposit(1000) #rejected
ca1.deposit(1000) #rejected
print(ca1)
ca1.passbook

Account 2 has rs 100
Account 2 has rs 2100

[('credited', 1000), ('credited', 1000)]

In [43]:
class Account:
  counter = 0 #class / shared - global
  def __init__(self,openingBal=0):
    Account.counter += 1
    self.id = Account.counter
    self.bal = openingBal
    self.passbook = [] #mutable
    self.numTrans = 0
    self.maxTrans = 2
  def deposit(self,amount):
    if amount>0 and self.numTrans<self.maxTrans:
      self.bal += amount
      self.passbook.append(('credited',amount))
      self.numTrans += 1
    #homework in else part
  def withdraw(self,amount):
    if amount>0 and amount<self.bal and self.numTrans<self.maxTrans:
      self.bal -= amount
      self.passbook.append(('dedited',amount))
      self.numTrans += 1
  def __str__(self):
      return f'Account {self.id} has rs {self.bal}'

class SavingsAccount(Account):
   #child class of ACCount
   pass
class CurrentAccount(Account):
  def __init__(self,openingBal=0):
    super().__init__(openingBal)   #Calling parent method
    self.maxTrans = 1000000000

In [44]:
ca1 = CurrentAccount(100)

In [45]:
ca1.deposit(1000)
ca1.deposit(1000)
ca1.deposit(1000)
ca1.deposit(1000)
ca1.deposit(1000)
ca1.deposit(1000)
print(ca1)

Account 1 has rs 6100